 body, html {
    margin: 0;
    overflow: hidden;
    font-family: helvetica;
    font-weight: 100;
}

body {
	background-color: #00ffff;		
}

.centered {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:20px;
	color:black;
}

.select {
	position: absolute;
	top: 20%;
	left: 15%;
	transform: translate(-50%, -50%);
	font-size:20px;
	color:pink;
}

.class1 {
	position: absolute;
	top: 30%;
	left: 5%;
	font-size:30px;
}

.class2 {
	position: absolute;
	top: 30%;
	left: 15%;
	font-size:30px;
}
.imag1{
	position: absolute;
	top: 150px;
	left: 500px;
	font-size:30px;
}
.return {
	position: absolute;
	top: 90%;
	right: 2%;
	transform: translate(-50%, -50%);
	font-size:30px;
	color:black;
}

.imag2{
	position: absolute;
	top: 350px;
	left: 500px;
	font-size:30px;
}
.imag3{
	position: absolute;
	top: 550px;
	left: 500px;
	font-size:30px;
}
.imag4{
	position: absolute;
	top: 150px;
	left: 700px;
	font-size:30px;
}
.imag5{
	position: absolute;
	top: 350px;
	left: 700px;
	font-size:30px;
}
.imag6{
	position: absolute;
	top: 550px;
	left: 700px;
	font-size:30px;
}
.imag7{
	position: absolute;
	top: 150px;
	left: 900px;
	font-size:30px;
}
.imag8{
	position: absolute;
	top: 350px;
	left: 900px;
	font-size:30px;
}
.imag9{
	position: absolute;
	top: 550px;
	left: 900px;
	font-size:30px;
}
.imag10{
	position: absolute;
	top: 150px;
	left: 1100px;
	font-size:30px;
}
.imag11{
	position: absolute;
	top: 350px;
	left: 1100px;
	font-size:30px;
}
.imag12{
	position: absolute;
	top: 550px;
	left: 1100px;
	font-size:30px;
}
.imag13{
	position: absolute;
	top: 150px;
	left: 1300px;
	font-size:30px;
}
.imag14{
	position: absolute;
	top: 350px;
	left: 1300px;
	font-size:30px;
}
.imag15{
	position: absolute;
	top: 550px;
	left: 1300px;
	font-size:30px;
}
.verify {
	position: absolute;
	top: 650px;
	left: 100px;
	font-size:30px;
	color:black;
}
