 body, html {
        margin: 0;
        overflow: hidden;
        font-family: helvetica;
        font-weight: 100;
 }
	
body {
	background-color: pink;
		
}

li{
    display: none;
}

img{
    position: relative;
	top:30%;
    width: 600px;
    height: 600px;
	left:20%;
}

a{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100%;
	font-size:30px;
}
	
.control{
	position: absolute;
    top: 50%;
    left: 60%;
    width: 100%;
	font-size:30px;		
}

.centered {
	position: absolute;
	top: 5%;
	left: 40%;
	transform: translate(-50%, -50%);
	font-size:20px;
	color:white;
}
.return {
	position: absolute;
	top: 1000px;
	right: 2%;
	font-size:40px;
	color:black;
}
