.wrapper{
	padding:8px 8px;
}

body, html {
	height: 100%;
	margin: 0;
}

.bg {
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/9ncuAJ0/girl-letting-go-balloons-flying-in-the-sky-happy-child-waving-hand_ndk4heu2l__F0000.png");		height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
	
.logout1 {
	position: absolute;
	top: 90%;
	right: 2%;
	transform: translate(-50%, -50%);
	font-size:30px;
	color:black;
}
	

.centered {
	position: absolute;
	top: 9%;
	left: 30%;
	transform: translate(-50%, -50%);
	font-size:30px;
	color:white;
}

.tictac {
	position: absolute;
	top: -70px;
	left: 550px;
	font-size:30px;
	color:white;
}
.move{
	position: absolute;
	top: 30%;
	left: 250px;
	font-size:30px;
	color:white;
}
.test{
	position: absolute;
	top: -10%;
	left: 250px;
	font-size:30px;
	color:white;
}
	
.learn {
	position: absolute;
	top: 200px;
	left: 300px;
	font-size:25px;
	color:white;
}

.classify {
	position: absolute;
	top: 60%;
	left: 900px;
	font-size:25px;
	color:white;
}
.pair {
	position: absolute;
	top: 20%;
	left: 280px;
	font-size:30px;
	color:white;
}
	
img {
	width: 30%;
	height: auto;
	display:center;
	margin-left:150px;
	margin-top:250px;
}
	
.inner_element{
margin-left:150px;	
}
