.wrapper{
padding:8px 8px;
}
.selected{
    background: red;
}
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("https://i.pinimg.com/564x/6c/a1/e1/6ca1e1541bf8828a0402d022ef073fa4.jpg");

  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:70px;
  color:black;
}
.top-left1 {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size:30px;
  color: black;
}
.top-left2 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size:30px;
  color: black;
}
.top-left3 {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size:30px;
  color: black;
}
.top-right1 {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translate(-50%, -50%);
  font-size:30px;
  color: black;
}
.top-right2 {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  font-size:30px;
  color: black;
}
.top-right3 {
  position: absolute;
  top: 60%;
  right: 9%;
  transform: translate(-50%, -50%);
  font-size:20px;
  color: black;
}
.top-right4 {
  position: absolute;
  top: 70%;
  right: 20%;
  transform: translate(-50%, -50%);
  font-size:30px;
  color: black;
}
.top-right5 {
  position: absolute;
  top: 60%;
  right: 35%;
  transform: translate(-50%, -50%);
  color: black;
}