body, html {
        margin: 0;
        overflow: hidden;
        font-family: helvetica;
        font-weight: 100;
 }
	
body {
	background-color: #ffe6e6;
}

li{
    display: none;
}

img{
    position: relative;
	top:120px;
    width: 500px;
    height: 500px;
	left:500px;
}

a{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100%;
	font-size:30px;
}
	
.control{
	position: absolute;
    top: 550px;
    left: 600px;
    width: 100%;
	font-size:20px;		
}

.choose{
	position: absolute;
    top: 650px;
    left: 550px;
    width: 100%;
	font-size:20px;		
}
.solution{
	position: absolute;
    top: 550px;
    left: 700px;
    width: 100%;
	font-size:20px;		
}
.centered {
	position: absolute;
	top: 30px;
	left: 40%;
	font-size:20px;
	color:white;
}
.return {
	position: absolute;
	top: 1000px;
	right: 2%;
	font-size:40px;
	color:black;
}
.class1 {
	position: absolute;
	top: 30%;
	left: 5%;
	font-size:30px;
}

.class2 {
	position: absolute;
	top: 30%;
	left: 15%;
	font-size:30px;
}
.verify {
	position: absolute;
	top: 650px;
	left: 100px;
	font-size:30px;
	color:black;
}